@* @model Bags_Wallets.Models.Wishlist *@
@* @model IEnumerable<Bags_Wallets.ViewModels.WishlistViewModel> *@
@model Bags_Wallets.Models.Wishlist
@{
    ViewData["Title"] = "Favorite";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<main class="mdl-layout__content ">
    <div class="mdl-grid ui-tables">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">

                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">ფავორიტებში დამატებულები</h1>
                </div>
                <div class="mdl-card__supporting-text no-padding">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">#</td>
                                <td class="mdl-data-table__cell--non-numeric">პროდუქტის აიდი </td>
                                <td class="mdl-data-table__cell--non-numeric">სახელი</td>
                                <td class="mdl-data-table__cell--non-numeric">ფასი</td>
                                <td class="mdl-data-table__cell--non-numeric">იუზერის მეილი</td>
                                <td class="mdl-data-table__cell--non-numeric">იუზერის ტელეფონი</td>
                                <td class="mdl-data-table__cell--non-numeric">იუზერი</td>
                                <td class="mdl-data-table__cell--non-numeric">სურათი</td>
                                <td class="mdl-data-table__cell--non-numeric">მართვა</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowNo = 0;
                            }
                            @foreach (var item in Model.WishlistItems)
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">@(rowNo += 1)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Product.Id)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Product.Title)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Product.Price)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Wishlist.ApplicationUser.Email)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Wishlist.ApplicationUser.Email)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Wishlist.ApplicationUserId)</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        @if (item.Product.Images != null)
                                        {
                                            @foreach (var image in item.Product.Images)
                                            {

                                                <img src="@image.ImagePath" class="profile-image color--smooth-gray" style="width: 100; height: 80px; border-radius:1rem" asp-append-version="true" />
                                            }
                                        }
                                        else
                                        {
                                            <p>no image</p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
