@model IEnumerable<Bags_Wallets.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main class="mdl-layout__content ">
    <div class="mdl-grid ui-tables">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">

                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">ყველა პროდუქტი</h1>
                </div>
                <div class="mdl-card__supporting-text no-padding">
                    <a asp-action="AddProduct" button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">ახლის შექმნა</a>

                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">#</td>
                                <td class="mdl-data-table__cell--non-numeric">სახელი</td>
                                <td class="mdl-data-table__cell--non-numeric">კოლექცია</td>
                                <td class="mdl-data-table__cell--non-numeric">სქესი</td>
                                <td class="mdl-data-table__cell--non-numeric">კატეგორია</td>
                                <td class="mdl-data-table__cell--non-numeric">სელერი</td>
                                <td class="mdl-data-table__cell--non-numeric">ფასი</td>
                                <td class="mdl-data-table__cell--non-numeric">რაოდენობა</td>
                                <td class="mdl-data-table__cell--non-numeric">ფასდაკლება</td>
                                <td class="mdl-data-table__cell--non-numeric">სეილი</td>
                                <td class="mdl-data-table__cell--non-numeric">აღწერა</td>
                                <td class="mdl-data-table__cell--non-numeric">თარიღი</td>
                                <td class="mdl-data-table__cell--non-numeric">სურათები</td>
                                <td class="mdl-data-table__cell--non-numeric">მართვა</td>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowNo = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">@(rowNo += 1)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Collection)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Category.TitleGeo)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Seller.FullName)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Quantity)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Discount)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.IsOnSale)</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <span style="white-space: pre-line">@item.Description</span>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.CreatedateTime)</td>
                                    <td class="mdl-data-table__cell--non-numeric">

                                        @* <img src="~/Images/product/@photo.Images" class="profile-image color--smooth-gray " style="width: 100; height: 100px;" asp-append-version="true" /> *@
                                        @if (item.Images != null)
                                        {
                                            @foreach (var image in item.Images)
                                            {
                                                @* <img src="@image.ImagePath" class="profile-image color--smooth-gray" style="width:25%; height:10em; border-radius:1rem;" /> *@
                                                <img src="@image.ImagePath" class="profile-image color--smooth-gray" style="width: 100; height: 80px; border-radius:1rem" asp-append-version="true" />
                                            }
                                        }
                                        else
                                        {
                                            <p>no image</p>
                                        }

                                    </td>

                                    <td class="mdl-data-table__cell--non-numeric">
                                        <a asp-action="EditProduct" asp-route-id="@item.Id">
                                            <button class="mdl-button mdl-js-button mdl-button--raised button--colored-orange">
                                                <span class="material-icons">
                                                    rotate_right
                                                </span>შესწორება
                                            </button>
                                        </a>
                                        <br />
                                        <a asp-action="DeleteProduct" asp-route-id="@item.Id">
                                            <button class="mdl-button mdl-js-button mdl-button--raised material-icons button--colored-red">
                                                <span class="material-icons">
                                                    delete

                                                </span>წაშლა

                                            </button>
                                        </a>
                                    </td>
                                    @* <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" asp-action="Delete" asp-route-id="@item.Id">Delete</button></td> *@

                                </tr>

                            }
                        </tbody>
                    </table>

                    <div>
                        @for (int i = 1; i <= @ViewBag.Pages.TotalPages; i++)
                        {
                            <a asp-action="Product" asp-route-pageIndex="@i">@i</a>
                        }
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>




@* const data2 = {
  columns: ['Name', 'Position', 'Office', 'Age', 'Start date', 'Salary'],
  rows: [
    ['Tiger Nixon', 'System Architect', '	Edinburgh', 61, '2011/04/25', '$320,800'],
    ['Sonya Frost', 'Software Engineer', 'Edinburgh', 23, '2008/12/13', '$103,600'],
    ['Jena Gaines', 'Office Manager', 'London', 30, '2008/12/19', '$90,560'],
    ['Quinn Flynn', 'Support Lead', 'Edinburgh', 22, '2013/03/03', '$342,000'],
    ['Charde Marshall', 'Regional Director', 'San Francisco', 36, '2008/10/16', '$470,600'],
    ['Haley Kennedy', 'Senior Marketing Designer', 'London', 43, '2012/12/18', '$313,500'],
    ['Tatyana Fitzpatrick', 'Regional Director', 'London', 19, '2010/03/17', '$385,750'],
    ['Michael Silva', 'Marketing Designer', 'London', 66, '2012/11/27', '$198,500'],
    ['Paul Byrd', 'Chief Financial Officer (CFO)', 'New York', 64, '2010/06/09', '$725,000'],
    ['Gloria Little', 'Systems Administrator', 'New York', 59, '2009/04/10', '$237,500'],
  ],
};

const instance = new mdb.Datatable(document.getElementById('datatable'), data2)

document.getElementById('datatable-search-input').addEventListener('input', (e) => {
  instance.input-group(e.target.value);
});

 *@



