@model IEnumerable<Bags_Wallets.Models.Order>

@{
    ViewData["Title"] = "Sold";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<main class="mdl-layout__content ">
    <div class="mdl-grid ui-tables">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">

                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">გაყიდული ნივთები</h1>
                </div>
                <div class="mdl-card__supporting-text no-padding">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">#</td>
                                <td class="mdl-data-table__cell--non-numeric">აიდი</td>
                                <td class="mdl-data-table__cell--non-numeric">სახელი</td>
                                <td class="mdl-data-table__cell--non-numeric">გვარი</td>
                                <td class="mdl-data-table__cell--non-numeric">მეილი</td>
                                <td class="mdl-data-table__cell--non-numeric">ტელეფონი</td>
                                <td class="mdl-data-table__cell--non-numeric">ქალაქი</td>
                                <td class="mdl-data-table__cell--non-numeric">მისამართი</td>
                                <td class="mdl-data-table__cell--non-numeric">გადახდა</td>
                                <td class="mdl-data-table__cell--non-numeric">ჯამი</td>
                                <td class="mdl-data-table__cell--non-numeric">აღწერა</td>
                                <td class="mdl-data-table__cell--non-numeric">თარიღი</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowNo = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">@(rowNo += 1)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.MobileNumber)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.City)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Model.FirstOrDefault().OrderDate.ToString("MM/dd/yyyy")</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <a asp-action="EditProduct" asp-route-id="@item.Id">
                                            <button class="mdl-button mdl-js-button mdl-button--raised button--colored-orange">
                                                <span class="material-icons">
                                                    rotate_right
                                                </span>შესწორება
                                            </button>
                                        </a>
                                        <br />
                                        <a asp-action="DeleteProduct" asp-route-id="@item.Id">
                                            <button class="mdl-button mdl-js-button mdl-button--raised material-icons button--colored-red">
                                                <span class="material-icons">
                                                    delete

                                                </span>წაშლა

                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
