@model Bags_Wallets.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Wallets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            @foreach (var item in ViewBag.WalletCoverPhoto)
            {
                <div class="item-slick1" style="background-image: url('@Url.Content("~/Images/pageimages/" + item.ImageName)');">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                <span class="ltext-202 txt-center cl0 respon2">
                                    <b>@item.Title</b>
                                </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                    <b>@item.Collection</b>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section id="productBagWallet">
    <form id="filterForm">
        <div class="container">
            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button class="clearFiltersBtn stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-gender="All">
                        ყველა
                    </button>

                    <button class="filter-btn stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-gender="Woman">
                        ქალი
                    </button>

                    <button class="filter-btn stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-gender="Man">
                        კაცი
                    </button>

                    <button class="filter-btn stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-gender="Kid">
                        ბავშვი
                    </button>

                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        ფილტრი
                    </div>

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        ძებნა
                    </div>
                </div>

                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="searchInput" name="search-product" placeholder="ძ ე ბ ნ ა . . . ">
                    </div>
                </div>

                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                <b>ტიპი</b>
                            </div>

                            <ul>
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="Gender">
                                        <option value="">აირჩიეთ (ქალი, კაცი, ბავშვი)</option>
                                        <option value="Woman">ქალი</option>
                                        <option value="Man">კაცი</option>
                                        <option value="Kid">ბავშვი</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>


                            </ul>
                        </div>

                        <div class="filter-col2 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                <b>ფასი</b>
                            </div>
                            <ul>
                                <input type="number" name="MinPrice" class="stext-111 cl8 plh3 size-111 p-lr-15" placeholder="შეიყვანეთ მინიმალური თანხა - ₾" />
                                <input type="number" name="MaxPrice" class="stext-111 cl8 plh3 size-111 p-lr-15" placeholder="შეიყვანეთ მაქსიმალური თანხა - ₾" />
                                <br />
                                <div class="rs1-select2 bor9 bg0">
                                    <select class="js-select2" name="OrderBy">
                                        <option value="">ფასის მიხედვით დალაგება</option>
                                        <option value="PriceAsc">ფასი: ზრდადობით</option>
                                        <option value="PriceDesc">ფასი: კლებადობით</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </ul>
                        </div>

                        <div class="filter-col3 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                <b>ფასდაკლება</b>
                            </div>
                            <ul>
                                <input class="stext-111" type="checkbox" name="IsOnSale" value="true" />
                            </ul>
                        </div>
                        <div class="filter-col4 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">გაფილტვრა</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>

    <div class="row isotope-grid" id="FilterResult">
        @foreach (var item in Model.Products)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })">
                            @{
                                <img src="@item.Images.FirstOrDefault().ImagePath" width="315" height="390">
                            }

                        </a>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            ნახვა
                        </a>
                    </div>
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                @item.Title
                            </a>
                            <span class="stext-105 cl3">
                                @item.Price ₾
                            </span>
                        </div>
                        <div class="block2-txt-child2 flex-r p-t-3">
                            <form asp-controller="WishList" asp-action="AddToWishlist" method="post">
                                <input type="hidden" name="productId" value="@Model.Products.FirstOrDefault().Id" />

                                <button type="submit">
                                    @* <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" data-tooltip="ფავორიტი"> *@
                                    <a href="#" class="dis-block fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="ფავორიტი">
                                        <img class="icon-heart1 dis-block trans-04" src="~/assets/shop/images/icons/icon-heart-01.png" alt="ICON">
                                        @* <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/assets/shop/images/icons/icon-heart-02.png" alt="ICON">  *@
                                    </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="flex-c-m flex-w w-full p-t-38">
        @if (Model.TotalPages > 1)
        {

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <div class="flex-c-m how-pagination1 trans-04 m-all-7  @(i == Model.CurrentPage ? " active-pagination1" : "")">
                    <a class="flex-c-m how-pagination1 trans-04 m-all-7" href="@Url.Action("Wallets", new { page = i })">@i</a>
                </div>
            }
        }
    </div>
    </div>
    </div>
</section>
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.filter-btn').click(function () {
                var gender = $(this).data('gender');

                $.ajax({
                    url: '@Url.Action("FilterWallets", "Home")',
                    type: 'GET',
                    data: { gender: gender },
                    success: function (data) {
                        $('#FilterResult').html(data);
                    },
                    error: function () {
                        alert('Error filtering products.');
                    }
                });
            });

            $('#clearFiltersBtn').click(function () {
                $.ajax({
                    url: '@Url.Action("ClearFilters", "Home")',
                    type: 'GET',
                    success: function (data) {
                        $('#FilterResult').html(data);
                    },
                    error: function () {
                        alert('Error clearing filters.');
                    }
                });
            });

        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {

                var query = $(this).val();
                console.log('query', query)
                $.ajax({
                    url: '@Url.Action("SearchWallet", "Home")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {
                        $('#FilterResult').html(data);
                    },
                    error: function () {
                        console.error('An error occurred while processing your request.');
                    }
                });
            });
        });
    </script>
}
